* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

#main {

}

#header {
    height: 46.5px;
    background-color: #000;
}

#nav {
    display: inline-block;
}

#nav, .subnav {
    list-style: none;

}

#nav > li {
    display: inline-block;
    float: left;
}

#nav li {

    position: relative;
}   



#nav > li > a { 
    color: #fff;
    text-transform: uppercase;
    padding: 0px 12px;
}

#nav li a {
    text-decoration: none;
    line-height: 46.5px;
    padding: 0px 24px;
    display: block;
}

#nav  li:hover .subnav {
    display: block;
}

#nav > li:hover > a,
#nav .subnav li:hover a{
    color: #000;
    background-color: #ccc; 

}

#nav .subnav {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 0 10px rgba(0,0,0,0.3);
    min-width: 160px;
    top: 100%;
    left: 0;
}

#nav .subnav a {
    color: #000;
    padding: 8px 16px;
    line-height: 32px;

}

#nav .nav-nav-arrow-down {
    font-size: 14px;
}

#header .search-btn {
    float: right;
    padding: 0px 21px;

}

#header .search-btn:hover {
    background-color:  #f44336;
    cursor: pointer;
}

#header .search-icon {
    color: #fff;
    font-size: 18px;
    line-height: 46.5px;


}



#slider {
    min-height: 300px;
    /* background-color: #333; */
}

#content {

}

#footer {

}
